// guarantee page styles
.breadcrumbs__container--guarantee-page {
    --max-width:1024px;
}
.guarantee-page-container {
    --max-width:1024px;
    @include media-custom-max(767px) {
        --padding-left:0;
        --padding-right:0;
    }
}
.guarantee-page {
    background-color: white;
    padding: 20px;

    @include media-medium() {
        padding-bottom: 30px;
    }
    @include media-custom(1440px) {
        padding: 40px;
        padding-bottom: 68px;
    }

    &__title {
        font-weight: 300;
font-size: 24px;
line-height: 28px;
color: black;
padding-bottom: 5px;
margin-bottom: 20px;

@include media-medium() {
font-size: 32px;
line-height: 38px;
padding-bottom: 9px;
}
@include media-custom(1440px) {
    font-size: 36px;
line-height: 42px;
padding-bottom: 5px;
max-width: toRem(650);
}
@include media-custom(1920px) {
    max-width: toRem(800);
}
    }
    &__title::after {
        background-color: black;
    }
}
.guarantee-page-info {
    display: grid;
    gap: 20px;

    p {
        font-weight: 300;
font-size: 14px;
line-height: 16px;
color: black;
    }

    strong {
        font-weight: 700;
font-size: 14px;
line-height: 16px;
color: black;
    }

    ul {
        padding: 20px;
        margin: 0;
        display: grid;
        gap: 20px;
        font-weight: 300;
font-size: 14px;
line-height: 16px;
color: black;
background-color: rgba(41, 41, 41, 0.1);

li {
    ul {
        padding: 0;
        gap: 0;
        background-color: transparent;
    }
}
    }

    &__download-link {
        text-decoration: underline;
        color: var(--pink-color);
        font-weight: 700;
font-size: 16px;
line-height: 19px;
    }
}