// password-recovery styles
.password-recovery-modal {

    &__content {
        @include media-medium() {
            max-width: toRem(610);
        }
        @include media-custom(1440px) {
            max-width: toRem(660);
        }
    }


    &__submit-btn {
        margin-top: 30px;
            background-color: black;
            color: white;
            font-weight: 700;
       
            @include media-medium() {
                max-width: 240px;
                margin-left: auto;
                margin-right: auto;
            }
            @include media-custom(1440px) {
                margin-top: 60px;
            }
    }

    &__list {
        padding: 0;
        margin: 0;
        display: grid;
        gap: 10px;
        font-weight: 300;
font-size: 14px;
line-height: 16px;
color: black;
margin-top: 30px;

        li {
            display: grid;
            gap: 20px;
            align-items: flex-start;
            grid-template-columns: min-content 1fr;
            max-width: 65ch;
        }
        li:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: black;
            border-radius: 50%;
        }
    }
}